.namePrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.namePrice p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}
.productPrice {
    color: var(--blue-color);
}
.description {
    font-size: 18px;
    font-weight: 300;
    font-weight: 450;
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .namePrice {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    .namePrice p {
        font-size: 16px;
        font-weight: 500;
    }
    .description {
        font-size: 15px;
        letter-spacing: 0.5px;
        margin: 10px 0;
    }
}
@media only screen and (min-width: 426px) and (max-width: 575px) {
    .namePrice {
        align-items: center;
    }
    .namePrice p:first-child {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
        padding: 10px 10px 10px 10px;
    }
    .description {
        font-size: 16px;
        padding: 10px 0px;
        letter-spacing: 0.2px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .namePrice {
        align-items: center;
    }
    .namePrice p:first-child {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
    .description {
        font-size: 16px;
        font-weight: 300;
        padding: 10px 0px;
        letter-spacing: 0.2px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .namePrice {
        align-items: center;
    }
    .namePrice p:first-child {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
    .description {
        font-size: 16px;
        padding: 10px 0px;
        letter-spacing: 0.2px;
    }
}   
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .namePrice {
        align-items: center;
    }
    .namePrice p:first-child {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
    .description {
        font-size: 16px;
        padding: 10px 0px;
        letter-spacing: 0.2px;
    }
}
@media screen and (min-width: 1441px) {
    .namePrice {
        align-items: center;
    }
    .namePrice p:first-child {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
    .description {
        font-size: 16px;
        padding: 10px 0px;
        letter-spacing: 0.2px;
    }
} 
